.banner {
    height: 400px;
}

.banner-overlay {
    text-align: center;
    width: 600px;
    font-size: 30px;
    color: white;
    padding: 10px;
}

.banner-overlay h2 {
    margin-bottom: -35px;
}

.banner-overlay h4 {
    font-style: italic;
    font-family: 'Dancing Script', cursive;
}

.banner-link {
    margin-top: 10px;
    all: unset;
    font-size: 18px;
    padding: 12px;
    border: 3px solid white;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
}

.banner-link:hover {
    background-color: #626262;
    cursor: pointer;
}

.categories-container {
    max-width: 70%;
    margin: 0 auto 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.category-tile {
    position: relative;
    width: 280px;
    height: 280px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #b9b9b9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.category-tile img {
    width: 100%;
}

.category-tile:hover {
    cursor: pointer;
    transform: scale(1.02);
    opacity: 0.8;
}

.category-names {
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    color: black;
    top: 0;
    left: 0;
}


