.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-form{
    padding: 5px;
}

.login-button {
    margin: 5px;
    text-decoration: none;
    padding: 10px;
    color: white;
    border-radius: 4px;
    background-color: #484848;
}