.navbar {
    position: sticky;
    height: 90px;
    background: linear-gradient(200deg, rgb(91, 90, 86) 0%, rgb(42, 41, 40) 100%);
    display: flex;
    justify-content: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    top: 0;
    z-index: 10;
}

.navbar-container {
    width: 70%;
    display: flex;
    align-items: center;
}

.navbar-container img:hover, .navbar-container a:hover {
    opacity: 0.8;
}

.logo {
    height: 70px;
}

.search-container {
    flex-grow: 2;
    display: flex;
    justify-content: center;
}

.search-bar {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
}

.search-bar input {
    width: 100%;
    padding: 10px 30px 10px 10px;
    border: 1px solid #ffffff;
    border-radius: 20px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
}

.search-bar input:focus {
    outline: none;
}

.search-button {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.search-button img {
    height: 20px;
    opacity: 0.5;
}

.links-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.links-container .navbar-link {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
}

.links-container img {
    height: 30px;
}

.login-button, .cart-button {
    all: unset;
    cursor: pointer;
}

.dropdown-container {
    position: relative;
}

.dropdown {
    width: 230px;
    position: absolute;
    right: 0;
    top: 60px;
}
