.account-container, .cart-container {
    width: 100%;
    background: linear-gradient(190deg, rgb(79, 78, 75) 0%, rgb(42, 41, 40) 100%);
    border-radius: 0 0 10px 10px;
    padding: 10px;
    position: relative;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.account-menu{
    width: 100%;
}

.account-title, .account-name, .cart-title{
    text-align: center;
    color: white;
}

.account-name{
    display:flex;
}

.login-form .input-field {
    padding: 15px;
    border: none;
    border-bottom: thin solid white;
    background-color: transparent;
    color: white;
    font-size: 16px;
    outline: none;
}

.submit-button, .account-menu a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 5px 5px;
    font-size: 14px;
    width: 95%;
    text-decoration: none;
    padding: 8px;
    color: black;
    background-color: white;
    border-radius: 4px;
    border: thin solid white;
    box-sizing: border-box;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
}

.submit-button:hover, .account-menu a:hover{
    cursor: pointer;
    opacity: 0.8;
}

.account-text {
    text-align: center;
    color: white;
}

.forgot-password a{
    color: white;
    text-decoration: underline;
    font-style: italic;
    font-size: 14px;
}

.cart-container{
    width: 180%;
    color: white;
}

.cart-container table{
    min-width: 180%;
    all: unset;
}

.cart-container tr:hover{
    background-color: unset;
}

.cart-container .cart-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    padding: 5px;
    background-color: white;
}
.cart-container img{
    height: 100%;
}
.cart-container h3{
    text-align: center;
}

.cart-remove{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 5px 8px;
    color: #f60303;
    background-color: #790000;
    border-radius: 15px;
    border: thin solid #500a0a;
    box-sizing: border-box;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
}

.cart-remove:hover{
    cursor: pointer;
    opacity: 0.8;
}
