.table-container {
    max-width: 1500px;
    border-radius: 10px;
    border: 1px solid #b9b9b9;
    margin: 0 auto;
}

.table {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    border-collapse: collapse;
    text-align: left;
}

.table img{
    max-width: 100px;
}

th {
    background-color: #676767;
    color: white;
    padding: 12px;
    font-size: 16px;
}

td {
    padding: 12px;
    border-bottom: 1px solid #b9b9b9;
    font-size: 14px;
}

tr:hover {
    background-color: #f8f8f8;
}